.container-task{
  margin-top: 5vh;
  padding: 0 20px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin-bottom: 30px;
}

.card{
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 200px;
}
.card p{
  color: grey;
}


  .card {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    border-radius: 16px;
    padding: 24px;
    width: 300px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .details{
    margin-top: 50px;
    background:black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }

  .card h3 {
    color: #222;
    font-size: 1.3rem;
    margin-bottom: 8px;
  }

  .card p {
    color: #666;
    font-size: 0.95rem;
    margin: 0;
  }

.title p{
  color: rgb(151, 141, 141);

}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
}
@media (max-width: 1023px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 757px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.title button{
  background: linear-gradient(135deg, #007bff, #00c4ff);;
  color: white;
  padding: 10px 20px; ;
  border: none;
  border-radius: 20px;

  font-size:15px ;
}

@media (max-width:576px){
    .title button{
      position: fixed;
      right: 5px;
      bottom: 10px;
    }
}

.no-projects {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 50px;
}
