.all{
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}
    .menu-container {
      margin: 0 auto;
      background: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 20px 50px;
      margin-bottom: 1vh;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu img {
      width: 50px;
      margin-right: 15px;
      transition: transform 0.3s ease;
    }

    .menu img:hover {
      transform: scale(1.1);
    }

    .menu h3 {
      font-size: 22px;
      color: #333;
      font-weight: 600;
      margin: 0;
      flex: 1;
    }

    .menu button {
      background: linear-gradient(135deg, #007bff, #00c4ff);
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 25px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .menu button:hover {
      background: linear-gradient(135deg, #0056b3, #0094cc);
      transform: scale(1.05);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }


  .features {
  display: flex;
  align-items: center;       /* Centers spans vertically */
  gap: 15px;
  font-size: 16px;
  color: #555;
  flex: 1.2;
  font-weight: bold;             /* ensures it takes available space */
  text-align: center;        /* in case spans wrap */
  cursor: pointer;
}

