 .all {
      font-family: Arial, sans-serif;
      background: linear-gradient(to right, #f5f9ff, #ffffff);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 95vh;
      margin: 0;
    }

    .error {
  color: #e74c3c;
  font-size: 13px;
  margin-top: 4px;
}

.login-btn-disabled{
  cursor: not-allowed;
  background: gray;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
}


    .login-container {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      width: 350px;
      text-align: center;
    }


    @media (max-width:576px){
   .login-container {
    width: 70%;
   }
}


    .login-container img {
      width: 50px;
      margin-bottom: 15px;
    }

    .login-container h2 {
      margin: 0;
      font-size: 22px;
      font-weight: bold;
    }

    .login-container p {
      font-size: 14px;
      color: #777;
      margin-bottom: 25px;
    }

    .form-group {
      text-align: left;
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }

    .login-btn {
      background: #0056b3;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 6px;
      width: 100%;
      font-size: 16px;
      cursor: pointer;
    }

    .login-btn:hover {
      background: #00408f;
    }
